.homeTitle {
    color: white;
    font-size: xx-large;
}

.homeContainer {
    margin-top: 1%;
}

.homeImgCol {
    border: 2px solid green;
    color: white;
}

.homeInfoCol {
    border: 2px solid red;
    color: white;
}

.homePostImg {
    /* min-width: 100%; */
}